/* Write your CSS here */

.con {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px;
}

.image {
  height: 250px;
  width: 350px;
  border-radius: 20px;
}

.para {
  font-size: 25px;
}
